section {
    float: left;
    width: 78%;
    margin-right: 2%;
}

section h1 {
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 2%;
}

section p {
    text-align: justify;
    margin-top: 1%;
    line-height: 160%;
    overflow: auto;
}

section img {
    margin-top: 2%;
}

article {
    margin-bottom: 2%;
}

figcaption {
    margin-bottom: 5%;
}

blockquote {
    margin-bottom: 1%;
    margin-top: 3%;
}

iframe {
    margin-bottom: 3%;
    width: 700px;
    height: 320px;
}

aside {
    padding: 1%;
    border: 1px solid black;
    width: 15%;
    float: right;
    margin-top: 5%;
}

aside h3 {
    margin-top: 4%;
    margin-bottom: 1%;
}

.pdf::after {
    content: url('../img/pdf-imagen.png');
}

aside li a {
    text-decoration-line: none;
    color: black;
}

aside li a:hover {
    text-decoration-line: underline;
    color: blue;
    margin-top: 2%;
}

.enLinea {
    float: left;
    font-size: 16px;
    margin-bottom: 4%;
}

.imgLinea {
    margin-left: 1%;
    margin-bottom: 2%;
}

.video {
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #95A5A6;
}

.video:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.videos {
    width: 700px;
    height: 350px;
    margin-bottom: 2%;
}

.videonav {
    margin-bottom: 3%;
}

article h2 {
    margin-bottom: 2%;
    margin-top: 4%
}

.button {
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: #58D3F7;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #58D3F7;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #BEEDFB;
    border: 1px solid #BEEDFB;
}

.div {
    width: 2%;
    background-image: linear-gradient(to bottom right, red, yellow);
    position: absolute;
    animation-name: animar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: none;
}

@keyframes animar {
    0% {
        height: 2%;
        width: 157px;
        left: 9%;
        top: 75px;
    }
    12.5% {
        height: 2%;
        width: 2%;
        left: 18%;
        top: 75px;
    }
    25% {
        height: 8%;
        left: 18%;
        top: 75px;
        width: 2%;
    }
    37.5% {
        height: 2%;
        top: 125px;
        left: 18%;
        width: 2%;
    }
    50% {
        width: 157px;
        height: 2%;
        top: 125px;
        left: 9%;
    }
    62.5% {
        width: 2%;
        height: 2%;
        top: 125px;
        left: 9%;
    }
    75% {
        width: 2%;
        height: 8%;
        top: 75px;
        left: 9%;
    }
    87.5% {
        height: 2%;
        width: 2%;
        left: 9%;
        top: 75px;
    }
    100% {
        height: 2%;
        width: 157px;
        left: 9%;
        top: 75px;
    }
}

@media screen and (max-width: 2150px) and (min-width: 1400px) {
    .div {
        display: inline;
    }
}

@media screen and (max-width: 1024px) {
    section {
        width: 100%;
    }
    iframe {
        width: 95%;
    }
    .video {
        width: 95%;
    }
    aside {
        border: none;
        width: 100%;
        float: none;
        margin-bottom: 2%;
    }
    .imgLinea {
        margin-bottom: 2%;
        padding-left: 3%;
    }
}