.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
}

#contenedor-parallax {
    background-image: url('../img/parallax-inicio.png');
}

#contenedor-parallax h2 {
    padding-top: 100px;
    color: white;
    text-align: center;
}

#contenedor-parallax p {
    color: white;
    text-align: center;
    margin: 10px;
}

.contenedor {
    width: 100%;
    text-align: center;
    display: flex;
    margin-bottom: 4%;
    margin-top: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.subcontenedor {
    display: inline-block;
}

.enLinea {
    float: left;
    font-size: 16px;
    margin-bottom: 4%;
}

.imgLinea {
    margin-left: 1%;
    margin-bottom: 2%;
}

@media screen and (max-width: 653px) and (min-width: 481px) {
    p {
        margin-bottom: 10px;
    }
    .imgLinea {
        margin-bottom: 2%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 480px) {
    p {
        margin-bottom: 10px;
    }
    .imgLinea {
        margin-bottom: 2%;
        padding-left: 3%;
    }
}